<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0041513ADAB61EDF1084B55C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0099564C9AAAAF91CC37F7CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03C8092A8418D032009D046F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09A70F0BBB9BEE81E5CA337C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A172B9D47056E10FB8F404B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BA24DD16D3BDD63E817E9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1512729B3F107EB0C2D1F590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA58A83951A1379F98BD7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD022FFC98DCA21DEAE8A3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4E88FE424E61D8CC6DF891</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27AD0343C0C72B3AD876C2CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2873F5286BE47BCF16092A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B57D512614B7BD8FB66DC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CF1544F036B4F7D11DA2B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D5F242C82751AA474203D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA75E77D588D5FA8901009B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34916B1715D0B49DFBB0530E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A95A21910AD9DD25613EF03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA05CA92A44A4EDBF44B083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4001FC81F61C6F55B47EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E0BF1B40A2366302888AA34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4006FF0F39AAD9CFAE53E542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40E8A386CA0806BFAE3FA807</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41FD12669084FFAA50A1A61E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489DB732F083B6171AE5D20A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F281717952C43D06BF2845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>660C4DBA929105699CE022A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EE83D2CF4BDB7120F4F95E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79149987A6625D63F3E241CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B59D2A3ABE75BE450790AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D2E12C00717B7A346B1A093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D44DB7713269DB4FCF307B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>815B8CAC095641DE73297B80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8233EF01AB6C51E9DBE87DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BDE1EF4E914FE963439458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A200CD5A213F7636932AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>887DC4D34440FA89BA252A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>894AA4178D568135D169533C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FDA290C8AF38BB5BD7B0822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C0DD42D53A08566C837F09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CADED5560CCF47A8CF2A725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F323E4E2030E5D2ADEBC32B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7536CE9BD75321128649CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE02869F2339C6DB9CD2A701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3598BF327B05578591BFA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EEA330A97DEE31FD4228FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24FB02381F3BFC2A1851C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4F920A1DE1CA8600891F2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6CA5E994A179741683A1CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46C6E9C18E9745B224CCBA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48207F639399E9EAE1E9140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5256DF3D3B977F743FE7353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5D95F6DD020E144A558671B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D997436CA4C988F4784C588B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E109DCBCB85399745AC3002F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E24E907F2E6E37BD9957BBA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6BB43AE2F54B5179AC5768C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE8194A541CFDEC5A818BCED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0B3102015CBF6597831DB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0CD3F9024037B400806A4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F66A3A8B34A4960F7D11D224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F79B805F3C2F829452EBBDB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F912CAEACA9E143B77597D31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
