<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0099564C9AAAAF91CC37F7CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA58A83951A1379F98BD7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4E88FE424E61D8CC6DF891</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27AD0343C0C72B3AD876C2CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2873F5286BE47BCF16092A9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B57D512614B7BD8FB66DC11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D5F242C82751AA474203D8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA75E77D588D5FA8901009B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D4001FC81F61C6F55B47EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E0BF1B40A2366302888AA34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4006FF0F39AAD9CFAE53E542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41FD12669084FFAA50A1A61E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489DB732F083B6171AE5D20A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79149987A6625D63F3E241CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B59D2A3ABE75BE450790AE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D2E12C00717B7A346B1A093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D44DB7713269DB4FCF307B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8233EF01AB6C51E9DBE87DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85A200CD5A213F7636932AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CADED5560CCF47A8CF2A725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F323E4E2030E5D2ADEBC32B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE02869F2339C6DB9CD2A701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3598BF327B05578591BFA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EEA330A97DEE31FD4228FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24FB02381F3BFC2A1851C6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46C6E9C18E9745B224CCBA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48207F639399E9EAE1E9140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E109DCBCB85399745AC3002F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE8194A541CFDEC5A818BCED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0CD3F9024037B400806A4A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F66A3A8B34A4960F7D11D224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F79B805F3C2F829452EBBDB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
